/* body {
    font-family: "Lato", sans-serif;
  }
   */
   .sidenav img{
    height:150px;
    width:150px;
    padding-left:50px;

}
.btn btn-danger{
    margin-left: 27px;
}

    body {
      font-family: "Lato", sans-serif;
    }

    .sidenav {
      height: 100%;
      width: 200px;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #0B5345;
      overflow-x: hidden;
      padding-top: 20px;
    }

    .sidenav a {
      padding: 6px 6px 6px 32px;
      text-decoration: none;
      font-size: 20px;
      font-weight: bold;
      color: #f1f1f1;
      display: block;
    }

    .sidenav a:hover {
      color: #f1f1f1;
    }

    .main {
      margin-left: 200px;
      /* Same as the width of the sidenav */
    }

    @media screen and (max-height: 450px) {
      .sidenav {
        padding-top: 15px;
      }

      .sidenav a {
        font-size: 18px;
      }
    }
   
  .img p{
    text-align: center;
    color:white;
  }