h4{
    text-align:center;
    color:white;
    font-style: italic;
}
.btn  {
text-align: center;
background-color: #0B5345 ;
color:white;
font-weight: bold;

}
p{
    color: #0B5345;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    padding-top:7px;
}

.already{
    text-decoration: none;
}
.navbar  {
    background-color: #0B5345;
}
.navbar-brand{
    padding:9px;
}
.collapse ul li a{
    color:white;
    font-weight: bold;
}
.card{
    margin-top:50px;

}
.card-header{
    background-color: #0B5345;
}
.form-group label{
    color:#0B5345;
    font-weight: bold;
}


.card{
    border-color:#0B5345;
}

.form-control{
    border-color: #0B5345;
}   
.navbar-right{
    margin-left:500px;
    padding-left:5px;
    padding-top:8px;
   
    padding-left: 20px;
}
#abc{
    margin-left:16px;
   
}
a:link {
    text-decoration: none;
  }
  .card{
      background-color: lightcyan;
  }